.DemoCredentials {
  border: 10px solid #A41F26;
  border-radius: 5px;
  margin: 50px auto 25px auto;
  padding: 0 40px 25px;
  max-width: 400px;
}

.DemoCredentials__username-wrapper,
.DemoCredentials__password-wrapper {
  margin-left: 50px;
  text-align: left;
}

.demo_username_label,
.demo_password_label {
  color: #108AFB;
}

.demo_username,
.demo_password {
  color: #A41F26;
}