.RewardsChest {
  border: 3px solid #484848;
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RewardsChest__rewards {
  width: 60%;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-height: 500px;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
}

.hidden {
  max-height: 0;
  transition: max-height 0.35s ease-in;
}

.RewardsChest h3 {
  margin: 0 auto;
  color: #A41F26;
  font-weight: bold;
  cursor: pointer;
}

.RewardsChest__icon {
  margin-left: 5px;
  font-size: 1.1em;
}