.RewardsChest {
  border: 3px solid #484848;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RewardsChest__rewards {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-height: 0;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
}

.hidden {
  max-height: 500px;
  transition: max-height 0.35s ease-in;
}

.RewardsChest h3 {
  margin: 0 auto;
  color: #A41F26;
  cursor: pointer;
}