.LandingPageIntro {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.LandingPageIntro__add-wrapper,
.LandingPageIntro__level-up-wrapper,
.LandingPageIntro__reward-wrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.LandingPageIntro__add,
.LandingPageIntro__level-up,
.LandingPageIntro__reward {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.LandingPageIntro__add {
  border: 5px solid #108AFB;
  color: #108AFB;
}

.LandingPageIntro__level-up {
  border: 5px solid #3bd474;
  color: #3BD474;
}

.LandingPageIntro__reward {
  border: 5px solid #FFD700;
  color: #FFD700;
}

@media screen and (min-width: 960px) {
  .LandingPageIntro {
    flex-direction: row;
  }

  .LandingPageIntro__add-wrapper,
  .LandingPageIntro__level-up-wrapper,
  .LandingPageIntro__reward-wrapper {
    max-width: 250px;
  }

  .LandingPageIntro__level-up {
    margin-bottom: 35px;
  }
}