.user__profile-brief {
  border: 3px solid #484848;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* min-width: 80%;
  margin: 0 auto; */
  padding: 15px 25px;
}

.user__xp-gauge {
  height: 100px;
  width: 100px;
}

h3 {
  margin: 0;  
}